@{
    ViewBag.Title = "About";
}
<h3 style="font-style:italic;text-align: center;  color: white ; "> ABOUT 𝓩𝓪𝓻𝓪 HOTEL</h3>
<div class="about-container">
    <p>
        Welcome to ZARA Hotels!
        A luxurious hotel chain that offers comfortable and modern accommodations for both business and leisure travelers. Our hotels are designed to provide the perfect blend of comfort, style, and convenience, making them the ideal choice for those who value a good night's sleep and a relaxing atmosphere.
    </p>
    <p>
        Each of our hotels boasts spacious and well-appointed rooms that are equipped with modern amenities to ensure a comfortable and relaxing stay for our guests. From air conditioning to free Wi-Fi and flat-screen TVs, we have everything you need to make your stay with us as comfortable and enjoyable as possible.
    </p>
    <p>
        At ZARA Hotels, we understand that a good night's sleep is essential for a successful trip. That's why we focus on providing comfortable and high-quality accommodations that meet the needs of our guests.
    </p>
    <p>
        Our friendly and knowledgeable staff are always on hand to ensure that your stay with us is as comfortable and enjoyable as possible. We pride ourselves on our exceptional service and attention to detail, which sets us apart from other hotels.
    </p>
    <p>
        So why wait? Book your stay at ZARA Hotels today and experience the ultimate in comfort and convenience. We look forward to welcoming you to our hotels soon!
    </p>
</div>
<style>
    body {
        background-image: url('../../Content/image/Hotel PIC.jpg');
        background-size: cover;
    }

    .about-container {
        background-color: rgba(0, 0, 0, 0.7); /* Black background with transparency */
        color: white;
        padding: 20px;
        border-radius: 15px; /* Rounded edges */
        margin: 20px auto;
        max-width: 800px; /* You can adjust the width as needed */
        font-size: large;
        font-style: italic;
    }
</style>
